
<div id="edit_profil">
	<div class="row">
		<div class="avatar-circle edit_avatar">
			<%= image_tag @profile.avatar.url %>
			<!-- <%= image_tag("missing.png", :alt => "missing") %> -->
		</div>
		<%= semantic_form_for @profile do |form|%>
	    <%= form.inputs do -%>
	        <%= form.input :firstname, :class => 'form-control' %>
	        <%= form.input :lastname %>
	        <%= form.input :about_me %>
	        <%= form.input :avatar, as: :file %>
	        <%= form.action :submit %>
	    <% end %>

	<% end %>
	</div>
</div>


