
  <div class="row">
<div class="col-lg-6">
<%= semantic_form_for [@user], url:'/users', class: 'form' do |f| %>

    <%= f.input :email, :input_html => { :class => 'form-control'} %> %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>


    <%= f.inputs for: [:profile, f.object.profile || Profile.new] do |profile| %>
    <%= profile.input :firstname %>
    <%= profile.input :lastname %>
<% end %>

    <%= f.actions do %>
        <%= f.action :submit, :as => :input %>
    <% end %>
<% end %>
  </div>
    </div>

