<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <% @posts.each do |post| %>
    <div class="box col3">

      <%= link_to post_path(post) do %>
           <%= image_tag post.avatar.url(:medium) %>
      <% end %>
    </div>
    <% end %>
  </div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
