<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ajax_call', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Compiled and minified JavaScript -->

</head>
<body>

<%= nav_bar fixed: :top, brand: "TAGIT" do %>
    <%= menu_group do %>
        <%= menu_item "Accueil", root_path %>
    <% if current_user %>
        <%= menu_item "Déconnexion", '/logout' %>
        <%= menu_item 'Mon profile',profiles_path%>
        <%= menu_item 'Ajouter une photo',new_post_path%>
    <% else %>
        <%= menu_item "Connexion", '/login' %>
        <%= menu_item "Inscription", '/signup' %>
    <% end %>
    <% end %>
<% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
